@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.card {
	display: inline-block;
	width: 100%;
	max-width: func.em(330, var.$font-size-primary);
	padding: func.em(24, var.$font-size-primary);
	background-color: var.$color-dark-grey;
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	border-radius: 12px;
	vertical-align: middle;
}

.card__head {
	margin-bottom: func.em(24, var.$font-size-primary);
	text-align: center;
}

.card__image {
	margin-bottom: func.em(24, var.$font-size-primary);
}

.card__image img {
	width: func.em(80, var.$font-size-primary);
	height: auto;
	margin: 0 auto;
	border-radius: 50%;
}

.card__title-wrap {
	margin-bottom: func.em(24, var.$font-size-primary);
}

.card__title {
	margin-bottom: func.em(6, 24);
}

.card__subtitle {
	font-weight: var.$font-weight-700;
	color: var.$color-green;
}

.card__link:not(:first-child) {
	margin-top: func.em(16, var.$font-size-primary);
}

@media (min-width: 48em) {
	.card {
		max-width: func.em(354, var.$font-size-primary);
		padding: func.em(36, var.$font-size-primary);
	}
}
